
.login-container {
    width: 300px;
    margin: 18px auto;
    padding: 20px;
    background-color: white;
    border: 2px solid #4caf50;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 68px;
    z-index: 100;
    position: relative;
}

.login-head {
    text-align: center;
    color: #161716;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #388e3c;
}

#login-username,
#login-password {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #388e3c;
    border-radius: 5px;
    background-color: #e8f5e9;
    color: black;
}

#login-username:focus,
#login-password:focus {
    border-color: #2e7d32;
    outline: none;
}
.register-redirect {
  margin-top: 1rem;
  font-size: 14px;
  color: #333;
}

.register-redirect a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.register-redirect a:hover {
  text-decoration: underline;
}


.login-submit {
    width: 94%;
    padding: 10px;
    background-color: #388e3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-register:hover {
    background-color: #2e7d32;
}

.response-message {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.error {
    color: red;
}

.small-footer {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-top: -140px;
    z-index: 0;
}

.small-footer-content {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.small-footer-svg {
    width: 100%;
    height: auto;
    display: block; 
}

@media (max-width: 768px) {
  .small-footer {
    display: none;
  }
}
